<%- include('./partials/header') %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 
    
    <h1>Welcome to <%= title %></h1>
    <p>Browse posts from all users for recommended travel spots</p>
    <p>Log in to create your own posts and write comments</p>

    <table>
    <a id="continentChoice" href="NA">North America</a>
    <a id="continentChoice" href="SA">South America</a>
    <a id="continentChoice" href="AS">Asia</a>
    <a id="continentChoice" href="EU">Europe</a>
    <a id="continentChoice" href="AF">Africa</a>
    <a id="continentChoice" href="OC">Oceania</a>
    <a id="continentChoice" href="AN">Antartica</a>
    </table>


  </body>
</html>




<%- include('./partials/footer') %>