<%- include('./partials/header') %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 
    
    <h1>Welcome to <%= title %></h1>
    <p>Browse posts from all users for recommended travel spots</p>
    <p>Log in to create your own posts and write comments</p>

    <table>
    <a href="">North America</a>
    <a href="">South America</a>
    <a href="">Asia</a>
    <a href="">Europe</a>
    <a href="">Africa</a>
    <a href="">Oceania</a>
    <a href="">Antartica</a>
    </table>


  </body>
</html>




<%- include('./partials/footer') %>