<%- include('./partials/header') %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="plane-icon.jpeg">
  </head>
  <body>
 
    
    <h1>Welcome to <%= title %></h1>
    <p>Browse posts from all users for recommended travel spots</p>
    <p>Log in to create your own posts and write comments</p>

    <table>
    <a id="continentChoice" href="/posts?continent=North America">North America</a>
    <a id="continentChoice" href="/posts?continent=South America">South America</a>
    <a id="continentChoice" href="/posts?continent=Asia">Asia</a>
    <a id="continentChoice" href="/posts?continent=Europe">Europe</a>
    <a id="continentChoice" href="/posts?continent=Afria">Africa</a>
    <a id="continentChoice" href="/posts?continent=Oceania">Oceania</a>
    <a id="continentChoice" href="/posts?continent=Antartica">Antartica</a>
    </table>


  </body>
</html>




<%- include('./partials/footer') %>