* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFAF0;
}

body > nav {
  grid-area: nav;
  background-color: #778899;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
}

h1 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

#avatarPic {
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userAva {
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: black;
  background-color: #B0C4DE;
}

nav > a.active {
  color: black;
  cursor: default;
}

a {
  color: black;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#new-form {
  margin-top: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

#desc-Box {
  padding: 7px;
  word-wrap: break-word;
  height: 70px;
}
#desc-Box.placeholder {
  color: grey;
}

#disabled-cont {
  color: grey;
}

#user-page {
  display: grid;
  grid-gap: 1rem;
}

#postAvatar {
  display: flex;
  justify-content: center;
  justify-self: center;
  border: 2px solid black;
  border-radius: 30px;
}

#postUserName {
  display: flex;
  justify-content: center;
  text-align: center;
}

#location {
  display: flex;
  justify-content: center;
  text-align: center;
}

#continent {
  display: flex;
  justify-content: center;
  text-align: center;
}

#photo {
  display: flex;
  justify-content: center;
  text-align: center;
}

#rating {
  display: flex;
  justify-content: center;
  text-align: center;
}

#description {
  border: 1.5px solid black;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#actButts {
  width: 300px;
  display: inline-flex;
}

#actionButton {
  display: inline; 
  width: 150px;
  margin: 0 auto;
}

#comBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  height: 50vmin;
  border: 5px solid black;
  border-radius: 5px;
}

#commentAdd {
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 10px;
}

#textArea {
  height: 4vh;
  width: 80vh;
}

#comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment-user img {
  border-radius: 50%;
  height: 40px;
}

/* #list {

}

#top-list {

}

#bottom-list {

} */


#continentChoice {
  display: grid;
  grid-template-columns: 250px 200px 100px;
  justify-content: space-evenly;
}

.NA {
  width: 200px;
  margin: 0px 0px 0px 0px;
}

.NA img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.SA {
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.SA img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.Asia {
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.Asia img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.AF {
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.AF img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.EU {
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.EU img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.OCE {
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.OCE img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.ANT {
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.ANT img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

/* .visible-form {
  visibility: visible;
}

.invisible-form {
  visibility: hidden;
} */
