* {
  box-sizing: border-box;
  font-family: Helvetica;
  /* color: #424748; */
  color: silver;
}

html {
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: #FFFAF0; */
  background-color: #2b2f32;
}

#plane-pic {
  width: 50px;
  margin-right: -10px;
}

#photo-link {
  margin-left: 5px;
  color: rgb(58, 130, 146);
}

#photo-link:hover {
  color: rgb(221, 145, 145);
}

body > nav {
  grid-area: nav;
  /* background-color: #778899; */
  background-color: rgb(38, 101, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0 35px;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav > img {
  width: 10px;
  object-fit: contain;
  margin-right: auto;
}

#avatarPic {
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userAva {
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: black;
  background-color: #ffffff;
}

nav > a.active {
  color: black;
  cursor: default;
}

a {
  color: black;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#new-form {
  margin-top: 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

#desc-Box {
  padding: 7px;
  word-wrap: break-word;
  height: 70px;
}
#desc-Box.placeholder {
  color: grey;
}

#disabled-cont {
  background-color: grey;
}

#user-page {
  display: grid;
  grid-gap: 1rem;
}

#postAvatar {
  display: flex;
  justify-content: center;
  justify-self: center;
  border: 2px solid black;
  border-radius: 30px;
}

#postUserName {
  display: flex;
  justify-content: center;
  text-align: center;
}

#location {
  display: flex;
  justify-content: center;
  text-align: center;
}

#continent {
  display: flex;
  justify-content: center;
  text-align: center;
}

#photo {
  display: flex;
  justify-content: center;
  text-align: center;
}

#rating {
  display: flex;
  justify-content: center;
  text-align: center;
}

#description {
  border: 1.5px solid black;
  margin: 0px 200px 20px 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#actButts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#actionButton {
  background-color: rgb(187, 187, 187);
  display: inline; 
  width: 150px;
  margin: 0 auto;
}

#commentBubble {
  width: 100px;
}

#edits {
  background-color: rgb(187, 187, 187);
}

#editsX {
  background-color: rgb(187, 187, 187);
}

#comBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  border: 5px solid black;
  border-radius: 5px;
}

#commentAdd {
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 10px;
}

#textArea {
  height: 4vh;
  width: 80vh;
}

#comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment-user img {
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 40px;
}

#list {
  margin: 15px;
  height: 20px;
  width: 80vw;
  padding-left: 15vw;
}

#top-listing {
  text-decoration: underline;
}

#bottom-list {
  margin-top: 0px;
}

#top-list {
  text-decoration: underline;
}

#top-listing-user {
  padding-right: 4vw;
}

#top-listing-loca {
  padding-right: 6vw;
}

#bottom-listings {
  padding-left: 10px;
}

#bottom-listings-desc {
  padding-left: 5vw;
}

#bottom-listings-img {
  padding-left: 3vw;
}


#bottom-listings-user{
  display: flex;
  align-items: center;
  align-self: center; 
  margin-right: 20px;
  width: 8vw;
}

#bottom-listings-loca{
  padding-left: 1vw;
  width: 11vw;
}

#bottom-listings-cont{
  padding-left: 2vw;
  width: 7vw;
}

#continentChoice {
  display: grid;
  /* grid-template-columns: 250px 200px 100px; */
  grid-template-columns: 10vh 10vh 10vh;

  justify-content: space-evenly;
  grid-gap: 20px;
  grid-row-gap: 40px;
}

.NA {
  /* width: 200px; */
  width: 150%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: rgb(216, 106, 46);
}

.NA:hover {
  color: rgb(255, 255, 255);
}

.NA img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.SA {
  /* width: 100px; */
  width: 75%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: rgb(226, 136, 126);
}

.SA:hover {
  color: rgb(255, 255, 255);
}

.SA img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.Asia {
  /* width: 100px; */
  width: 130%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: rgb(220 188 75);
}

.Asia:hover {
  color: rgb(255, 255, 255);
}

.Asia img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.AF {
  /* width: 100px; */
  width: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: rgb(121,138,60);
}


.AF img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.AF:hover {
  color: rgb(255, 255, 255);
}

.EU {
  /* width: 100px; */
  width: 140%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: rgb(151,53,42);
}

.EU img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.EU:hover {
  color: rgb(255, 255, 255);
}

.OCE {
  /* width: 100px; */
  width: 120%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: rgb(120,84,37);
}

.OCE img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.OCE:hover {
  color: rgb(255, 255, 255);
}

.ANT {
  /* width: 100px; */
  width: 100%;
  margin: 0px 0px 0px 0px;
  grid-column: 2;
  text-align: center;
  color: rgb(144,173,213);
}

.ANT img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

.ANT:hover {
  color: rgb(255, 255, 255);
}

#no-post {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}

#footer {
  margin-top: 35vh;
  color: silver;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.deets {
  color: rgb(56, 116, 132);
}
.deets:hover {
  color:rgb(221, 145, 145);
}

/* .visible-form {
  visibility: visible;
}

.invisible-form {
  visibility: hidden;
} */

@media (max-device-width: 480px ) {
  body > nav {
    width: 100vw;
    padding: 0px;
  }
  #list {
    width: 30vw;
    padding: 0px;
  }
  #bottom-list {
    width: 10vw;
  }
  #top-list {
    padding:20vw;
    width: 20vw;
  }
  #bottom-listings-user{
    display: grid;
    padding-right: 15px;
    width: 7vw;
  }
  #description {
    border: 1.5px solid black;
    margin: 0px 50px 20px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}