<%- include('../partials/header') %>


<h1><%= User's post %></h1>
<div>Location:</div>
<div>Continent:</div>
<div>Photo:</div>
<div>Rating:</div>
<div>Description:</div>



<div>Comments</div>











<%- include('../partials/footer') %>